body{margin: 0}
main,.header {
    direction: rtl;
    font-size: x-large;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
#page{
    display: flex;
}
.link{
    width: 33.3%;
    text-align: center;
}
a {
    text-decoration: none; /* למחוק את הקו התחתון */
    color: #0077b6; /* צבע הטקסט */
}

a:hover {
    text-decoration: none; /* למחוק את הקו התחתון בעת ההעברה בעכבר */
    color: #ff6b6b; /* לשנות צבע הטקסט בעת העברה בעכבר */
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20%;
    text-align: center;
}
#table{
    justify-content: center;
}
td{border: 1px solid black;}
th{background-color: aqua;}
.btn,option{
    font-size: x-large;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
}
.company-logo {
    width: 100px;
}
#title{
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    display: flex;
    justify-content: center;
}
.timestamp-label {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.timestamp {
    margin: 0 5px;
}
.signature-image {
    max-width: 100px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
}
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    margin-top: 50px;
}
.employee-details {
    margin: 20px 0;
}
.employee-details p {
    margin: 5px 0;
}
#employee-input {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* יוריד את האינפוט למתחת לכפתורים */
    width: 300px;
}
.entry-button{
    background-color: green;
}
.exit-button{
    background-color: red;
}
.query-button{
    background-color: #007bff;
}
.entry-button,
.exit-button,
.query-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 45px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 40px;
}
#employee-details {
    display: none;
}
#entry-message {
    color: green;
    font-size: 24px;
}
#employee-image {
    max-width: 100px;
    border-radius: 50%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    visibility: hidden;
}

/* המשמעות הכללית שה- footer מתחיל להופיע רק כאשר המשתמש מגלול למטה */
footer.visible {
    visibility: visible;
}

