
<%-include("page_top.ejs")%>
<center><main>
        <h1 id="h1">
            השעות שלי
        </h1>
        <label>בחר עובד:</label>
        <select id="employeeName">
        </select>
        <br><br>
        <button onclick="showList()">הצג</button>
        <br><br>
                <table>
                    <thead>
                    <tr>
                        <th>שם מלא</th>
                        <th>תאריך</th>
                        <th>שעת כניסה</th>
                        <th>שעת יציאה</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="mainTable"></tbody>
                </table>
    </main></center>
<script src="/js/emp_data_script.js"></script>
<%-include("page_bottom.ejs")%>