
<%-include("page_top.ejs")%>
<center><main><div id="page">
        <br><br>
        <table id="table">
            <thead>
            <tr>
                <th></th>
                <th>מס' עובד</th>
                <th>שם מלא</th>
                <th>תמונה</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="mainTable">  </tbody>
        </table>
        </div>
    </main></center>
<script src="/js/employees_script.js"></script>
<%-include("page_bottom.ejs")%>