
<%-include("page_top.ejs")%>
<center><main><div id="page">
        <br><br>
        <div class="link"><a href="http://localhost:5656/emp/AddEmp"><img class="img" id="addEmp" src=""><br/><i>הוספת עובד</i></a></div>
        <div class="link">
        <table id="table">
            <thead>
            <tr>
                <th></th>
                <th>מס' עובד</th>
                <th>שם מלא</th>
                <th>תמונה</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="mainTable">  </tbody>
        </table>
        </div>
        <div class="link"><a href="http://localhost:5656/timeClock"><img class="img" id="timeClock" src=""><br/><i>שעון נוכחות</i></a></div>
        </div>
    </main></center>
<script src="/js/employeesScript.js"></script>
<%-include("page_bottom.ejs")%>