
<%-include("page_top.ejs")%>
<center><main>
<!--        <input id="firstName" placeholder="שם פרטי">-->
<!--        <input id="lastName" placeholder="שם משפחה">-->
<!--        <input type="file" id="image" accept="image/*">-->
<!--        <button onclick="AddNewLine()">הוסף</button>-->
        <a href="http://localhost:5656/Add_Emp" target="_blank">הוספת עובד</a>
        <br><br>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>מס' עובד</th>
                <th>שם מלא</th>
                <th>תמונה</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="mainTable">  </tbody>
        </table>
        <br>
    </main></center>
<script src="/js/script.js"></script>
<%-include("page_bottom.ejs")%>