
<%-include("page_top.ejs")%>
<center><main>
        <h1 id="h1">
            שעון נוכחות
        </h1>
        <label>בחר עובד:</label>
        <select id="employeeName">
        </select>
        <br><br>
        <button onclick="AddNewLine()">כניסה</button>
        <button onclick="editLine()">יציאה</button>
                <br><br>
                <a href="http://localhost:5656/empData" target="_blank">מעבר אל השעות שלי...</a>

    </main></center>
<script src="/js/time_clock_script.js"></script>
<%-include("page_bottom.ejs")%>