
<%-include("page_top.ejs")%>
<center><main>
        <h1 id="h1">
            שעון נוכחות
        </h1>
        <label>בחר עובד:</label>
        <select id="employeeName">
        </select>
        <br><br>
        <label>שעת כניסה:</label>
        <input type="time" id="entry_time">
        <label>שעת יציאה:</label>
        <input type="time" id="exit_time">
        <button onclick="AddNewLine()">הוסף</button>
                <br><br>
                <a href="http://localhost:5656/empData" target="_blank">סה''כ נוכחות..</a>
        <!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th></th>-->
<!--                <th>מס' עובד</th>-->
<!--                <th>שם מלא</th>-->
<!--                <th>שעת כניסה</th>-->
<!--                <th>שעת יציאה</th>-->
<!--                <th></th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody id="mainTable">  </tbody>-->
<!--        </table>-->
    </main></center>
<script src="/js/time_clock_script.js"></script>
<%-include("page_bottom.ejs")%>