
<%-include("page_top.ejs")%>
<center><main>

                <div class="content">
                        <div class="card">
                <div class="employee-details">
                        <label>בחר עובד:</label><br>
                        <select id="employeeName"></select>
                </div>
        <button class="entry-button" onclick="AddNewLine()">כניסה</button>
        <button class="exit-button"  onclick="editLine()">יציאה</button>
                <div id="employee-details" style="display: none">
                        <img id="employee-image" src="employee_image.jpg" alt="תמונת עובד" />
                        <p id="employee-id">תעודת זהות: 12345</p>
                        <p id="employee-name">שם: גיל כהן</p>
                        <p id="employee-role">תפקיד: מנהל משאבי אנוש</p>
                        <p id="entry-message"></p>
                </div>
                </div>
                </div>
                <br><br>
                <a href="http://localhost:5656/empData" target="_blank">מעבר אל השעות שלי...</a>

    </main></center>
<script src="/js/time_clock_script.js"></script>
<%-include("page_bottom.ejs")%>