
<%-include("page_top.ejs")%>
<center><main>

                <div class="content">
                        <div class="card">
                            <input
                                    type="text"
                                    id="employee-input"
                                    placeholder="הכנס מספר עובד"
                                    maxlength="4"
                            />
                            <br />
                            <button class="entry-button" onclick="recordEntry()">כניסה</button>
                            <button class="exit-button" onclick="recordExit()">יציאה</button>
                            <button class="query-button" onclick="queryEmployee()">שאילתא</button>
                <div id="employee-details">
                    <img id="employee-image" src="" alt="תמונת עובד" />
<!--                    <p>מספר עובד: <span id="employee-id"></span></p>-->
                    <p>שם: <span id="employee-name"></span></p>
<!--                    <p>תפקיד: מנהל משאבי אנוש</p>-->
                    <p id="entry-message"></p>
                </div>
                </div>
                </div>
                <br><br>
                <a href="http://localhost:5656/empData" target="_blank">מעבר אל השעות שלי...</a>

    </main></center>
<script src="/js/time_clock_script.js"></script>
<%-include("page_bottom.ejs")%>